<% if employee %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.position %></td>
    <td><%= employee.office %></td>
    <td><%= employee.extension %></td>
    <td><%= employee.start_date %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% else %>
  <div>
    <p>employee not created</p>
  </div>
<% end %>
