<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Office:</strong>
  <%= @employee.office %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @employee.extension %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @employee.start_date %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
